<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>Slider</title>
    </head>
    <body>
      <div id="root">
        <div class="container">
          <div class="row">
            <div class="col-">
              <h1>To Do List</h1>
              <input type="text" name="to-do v-model="" value="">
              <button type="button" name="button" @click= "inputToArray name">ok</button>
              <ul>

                <li v-for= '(el, index) in inputToDo'>{{el}}</li>


              </ul>
            </div>
          </div>
        </div>
      </div>
      <script src="main.js"></script>
    </body>
    </html>
